In [1]:
#Hypothesis Testing:

#H0: 
#There is no significant difference in sales volume in terms of sales amount and quantity over the period of 12 months in 2019.

#H1: 
#There is significant difference in sales volume in terms of sales amount and quantity over the period of 12 months in 2019.

In [2]:
# import dependencies
import pandas as pd
import scipy.stats as stats
import os
import matplotlib.pyplot as plt

In [3]:
dr = os.listdir()
dr

['.ipynb_checkpoints',
 'Hypothesis_testing.ipynb',
 'Sales_Analysis.ipynb',
 'Sales_April_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_February_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'Sales_March_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_September_2019.csv',
 'Untitled.ipynb']

In [4]:
files =[file for file in dr]

In [5]:
#df = pd.concat(map(pd.read_csv, files), ignore_index = True)

In [6]:
# reading CSVs
sales_Jan = pd.read_csv('Sales_January_2019.csv')
sales_Feb = pd.read_csv('Sales_February_2019.csv')
sales_Mar = pd.read_csv('Sales_March_2019.csv')
sales_Apr = pd.read_csv('Sales_April_2019.csv')
sales_May = pd.read_csv('Sales_May_2019.csv')
sales_Jun = pd.read_csv('Sales_June_2019.csv')
sales_Jul = pd.read_csv('Sales_July_2019.csv')
sales_Aug = pd.read_csv('Sales_August_2019.csv')
sales_Sep = pd.read_csv('Sales_September_2019.csv')
sales_Oct = pd.read_csv('Sales_October_2019.csv')
sales_Nov = pd.read_csv('Sales_November_2019.csv')
sales_Dec = pd.read_csv('Sales_December_2019.csv')

In [7]:
# Concatenate or merge CSVs in one file
df_sales = pd.concat((sales_Jan, sales_Feb, sales_Mar,sales_Apr, sales_May,  sales_Jun, sales_Jul,sales_Aug ,
                      sales_Sep,sales_Oct, sales_Nov,sales_Dec ), ignore_index= True)

In [8]:
# read last five  records
df_sales.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186844,319666,Lightning Charging Cable,1,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016"
186845,319667,AA Batteries (4-pack),2,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001"
186846,319668,Vareebadd Phone,1,400,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101"
186847,319669,Wired Headphones,1,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001"
186848,319670,Bose SoundSport Headphones,1,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001"

In [9]:
# Look at DataFrame structure
df_sales.shape

(186849, 6)

In [10]:
# Columns in dataframe
df_sales.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [11]:
# Drop null values in Dataframe
df_sales.dropna(inplace=True)

In [12]:
# Check for any null values in Data Frame
df_sales.isnull().any()

Order ID            False
Product             False
Quantity Ordered    False
Price Each          False
Order Date          False
Purchase Address    False
dtype: bool

In [13]:
# Check DataFrame info and look at Datatypes for appropriate manipulation
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186305 entries, 0 to 186848
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [14]:
# Check Date for further processing
df_sales['Order Date']

0         01/22/19 21:25
1         01/28/19 14:15
2         01/17/19 13:33
3         01/05/19 20:33
4         01/25/19 11:59
               ...
186844    12/11/19 20:58
186845    12/01/19 12:01
186846    12/09/19 06:43
186847    12/03/19 10:39
186848    12/21/19 21:45
Name: Order Date, Length: 186305, dtype: object

In [15]:
# First part of date contains month which we need to extract(0:2)
df_sales =df_sales[df_sales['Order Date'].str[0:2] != 'Or']

In [16]:
# Parse date column to_datetime
df_sales['Order Date'] = df_sales['Order Date'].apply(pd.to_datetime)
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186848
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  object
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 9.9+ MB

In [17]:
# Import importatnt dependency datetime for further extraction month and full month from date
import datetime as dt

In [18]:
# Extract month and full month from date
df_sales['Month'] = df_sales['Order Date'].dt.month
df_sales['Month_Full']=df_sales['Order Date'].dt.month_name()

In [19]:
# look at improved format
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186848
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  object
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
 6   Month             185950 non-null  int64
 7   Month_Full        185950 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 12.8+ MB

In [20]:
# Fix 'Price Each' column data type for manipulation
df_sales['Price Each']=  df_sales['Price Each'].astype('float')

In [21]:
#Fix 'Quantity Ordered' column data type for manipulation
df_sales['Quantity Ordered'] = df_sales['Quantity Ordered'].astype('int64')

In [22]:
# Check Dataframe improved format
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186848
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
 6   Month             185950 non-null  int64
 7   Month_Full        185950 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 12.8+ MB

In [23]:
# Check Dataframe first five records
df_sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Month_Full
0,141234,iPhone,1,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",1,January
1,141235,Lightning Charging Cable,1,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035",1,January
2,141236,Wired Headphones,2,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",1,January
3,141237,27in FHD Monitor,1,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",1,January
4,141238,Wired Headphones,1,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301",1,January

In [24]:
# Create column sales in DataFrame 
# Obtain sales column value by multiplying 'Quantity Ordered' and 'Price Each'
df_sales['sales'] = df_sales['Quantity Ordered'] * df_sales['Price Each']
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186848
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  datetime64[ns]
 5   Purchase Address  185950 non-null  object
 6   Month             185950 non-null  int64
 7   Month_Full        185950 non-null  object
 8   sales             185950 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 14.2+ MB

In [25]:
# Observe change in DataFrame (Additional sales column)
df_sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Month_Full,sales
0,141234,iPhone,1,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",1,January,700.00
1,141235,Lightning Charging Cable,1,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035",1,January,14.95
2,141236,Wired Headphones,2,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",1,January,23.98
3,141237,27in FHD Monitor,1,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",1,January,149.99
4,141238,Wired Headphones,1,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301",1,January,11.99

In [26]:
# Create groups for applying ANNOVA Hypothesis Test
group_Jan= df_sales[df_sales["Month"]==1]["sales"]
group_Feb= df_sales[df_sales["Month"]==2]["sales"]
group_Mar= df_sales[df_sales["Month"]==3]["sales"]
group_Apr= df_sales[df_sales["Month"]==4]["sales"]
group_May= df_sales[df_sales["Month"]==5]["sales"]
group_Jun= df_sales[df_sales["Month"]==6]["sales"]
group_Jul= df_sales[df_sales["Month"]==7]["sales"]
group_Aug= df_sales[df_sales["Month"]==8]["sales"]
group_Sep= df_sales[df_sales["Month"]==9]["sales"]
group_Oct= df_sales[df_sales["Month"]==10]["sales"]
group_Nov= df_sales[df_sales["Month"]==11]["sales"]
group_Dec= df_sales[df_sales["Month"]==12]["sales"]

In [39]:
# Perform ANOVA test
# ANOVA(ANalysis Of VAriance) test used to compare the means of more than 2 groups
#(t-test or Z-test can be used to compare 2 groups only)

#  ANOVA F and p value
fvalue, pvalue = stats.f_oneway(group_Jan, group_Feb,  group_Mar,  group_Apr,  group_May,  group_Jun,  group_Jul,  group_Aug
                               ,  group_Sep,  group_Oct,  group_Nov,  group_Dec)
print(fvalue, pvalue)

1.1173298048350255 0.3422067659779472

In [40]:
# The p value obtained from ANOVA analysis is significant ((p = 0.342) > 0.05), and therefore, we conclude 
# that there are significant differences in sales voulme each month.
# Hence we reject null hypothesis and accept alternative hypothesis 
# Below link is useful for understanding ANNNOVA test
# https://www.reneshbedre.com/blog/anova.html*/